@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>

<div class="col-sm-6" style="border: 1px solid black;">
    <div class="col-sm-6" style="border: 1px solid black;">
        This is a sub small class
    </div>
    <div class="col-sm-6" style="border: 1px solid black;">
        This is a sub small class
    </div>
    This is some text
</div>
